
@tailwind base;
@tailwind pages;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif; /* Ensure your custom font is applied */
  background-color: #f5f5f5; /* Light gray background for better appearance */
}

h1, h2, h3, h4, h5, h6 {
  color: #1D4ED8; /* Primary color */
}
